.tours {
  max-width: 780px;
  margin: 0 auto;

  .tours__title {
    margin-top: 46px;
    margin-bottom: 46px;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    font-weight: 900;
  }

  .tours__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tour__item {
      width: calc(50% - 10px);
      margin-bottom: 56px;

      &_head {
        height: 218px;
        position: relative;
      }

      &_img {
        width: 100%;
        height: 100%;
      }

      &_price {
        width: 160px;
        background-color: #FFD241;
        padding-top: 14px;
        padding-bottom: 14px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        font-weight: 900;
      }

      &_place {
        color: #C5B223;
        margin-top: 10px;
        margin-bottom: 7px;
        font-size: 9px;
        line-height: 11px;
        text-decoration: uppercase;
      }

      &_title {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        font-weight: 700;
      }

      &_way {
        font-size: 9px;
        line-height: 13px;
        color: #8C8C8C;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &_details {
        font-size: 9px;
        line-height: 11px;
        margin: 0;
      }

      &_dates {
        font-size: 9px;
        line-height: 11px;
        margin: 0;

        a {
          color: #000;
          text-decoration: none;
        }
      }

      &_dop {
        background: #CB0037;
        border-radius: 3px;
        color: #FFFFFF;
        font-size: 9px;
        padding: 3px 12px;
        margin-top: 12px;
        margin-bottom: 0;
        display: inline-block;
        font-size: 9px;
        line-height: 11px;
      }

    }
  }
}
