@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoSansCyrl_100.otf);
  font-weight: 100;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoSansCyrl_300.otf);
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoSansCyrl_500.otf);
  font-weight: 500;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoSansCyrl_700.otf);
  font-weight: 700;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url(MuseoSansCyrl_900.otf);
  font-weight: 900;
}
